<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>HUI</title>
		<link rel="stylesheet" type="text/css" href="css/hui.css" />
		<link rel="stylesheet" type="text/css" href="css/mystyle.css">
		<style type="text/css">
			.hui-tab-item {
				border: 0px;
			}
			[v-cloak] {
				display: none;
			}
			h1 {
				padding: 0px 90px 0px 38px !important;
			}

			.myblock1 {
				color: rgba(85, 85, 85, 1);
				font-size: 0.90rem;
				font-family: PingFangSC-Regular;
				font-weight: 400;
			}

			.myblock2 {
				color: rgba(85, 85, 85, 1);
				font-size: 0.65rem;
				font-family: PingFangSC-Regular;
				font-weight: 400;
			}

			.myp {
				margin-top: -2rem;
			}

			.my-red {
				color: #f75945;
			}
		</style>
	</head>
	<body>
		<header class="hui-header">
			<div id="hui-back" class="event_close"></div>
			<h1>账户明细</h1>
		</header>
		<div class="hui-wrap" id="history" v-cloak>
			<div class="hui-tab">
				<div class="hui-tab-title">
					<div style="color: #000000;"  @click="to_h_task">任务日志</div>
					<div class="hui-tab-active " style="border-bottom: 2px solid #3388FF;">账户日志</div>
				</div>
				<div class="hui-tab-body">
					<div class="hui-tab-body-items">
						<div class="hui-tab-item">

						</div>
						<div class="hui-tab-item">

						</div>
					</div>
				</div>
			</div>
			<div id="refreshContainer" class="hui-refresh">
				<div class="hui-refresh-icon"></div>
				<div class="hui-refresh-content hui-list">
					<div class="hui-img-list-content hui-list-text" style="display: block;" v-for="item in wd_list">
						<h2>
							<font class="myblock1" v-if="item.changeType === 0">增加<font class="my-red">{{item.changeCoin}}</font>金币</font>
							<font class="myblock1" v-if="item.changeType === 1">提现<font class="my-red">{{item.changeCoin}}</font>金币</font>
						</h2>
						<a></a>
						<p class="myp">
							<font class="myblock2">{{item.createTime}}</font>
						</p>
					</div>
				</div>
			</div>
		</div>
		<script src="js/hui.js"></script>
		<script src="js/hui-refresh-load-more.js"></script>
		<script src="js/hui-tab.js"></script>
		<script src="js/vue.min.js" </script> <script src="js/doT.min.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/myfun.js"></script>
		<script type="text/javascript">
			hui.tab('.hui-tab');
		</script>
		<script>
			var app = new Vue({
				el: '#history',
				data: {
					userId: '',
					wd_list: '',
					page: 0
				},
				mounted() {
					var that = this;
					mui.ready(function() {
						mui.plusReady(function() {
							that.plusReady();
							hui.refresh('#refreshContainer', that.refresh);
							hui.loadMore(that.getmore);
						})
					})
				},
				methods: {
					plusReady() {
						getvalue_plus();
						this.userId = userid;
						plus.webview.close(viewid);
						mui("body").on("tap", ".event_close",
							function() {
								closeme();
							});
					},
					getmore() {
						var that = this;
						let param = {
							"logType": 2,
							"pageIndex": this.page,
							"pageSize": 10,
							"userId": this.userId
						}
						get_json('POST', 'user/get_user_log', true, param).then(function(res) {
							if (res.code == 0) {
								var data = res.result.userAccountLogModels;
								console.log(JSON.stringify(data))
								if (data.length < 10) {
									that.wd_list = that.wd_list.concat(data);
									hui.endLoadMore(true, '没有更多内容了...');
									return false;
								}
								that.wd_list = that.wd_list.concat(data);
								that.page++;
								hui.endLoadMore();
							} else {
								check_res(res.code, res.message);
							}
						});
					},
					refresh() {
						console.log('refresh0刷新')
						var that = this;
						let param = {
							"logType": 2,
							"pageIndex": 0,
							"pageSize": 10,
							"userId": this.userId
						}
						get_json('POST', 'user/get_user_log', true, param).then(function(res) {
							hui.closeLoading();
							if (res.code == 0) {
								var data = res.result.userAccountLogModels;
								that.wd_list = data;
								hui.endRefresh();
								that.page = 1;
								hui.resetLoadMore();
							} else {
								check_res(res.code, res.message);
							}
						});
					},
					to_h_task(){
						var ws = plus.webview.currentWebview().id;
						var data = {
						   'viewid' :ws,
						   'userId':this.userId
						};
						openwin_plus("history.html", data);
					}
				}
			})
		</script>
	</body>
</html>
